<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <i class="fa fa-filter" (click)="goFilter()" style="font-size:20px;color:#d60057;"></i>
  <!-- <a class="navbar-brand" href="#">Yoo Invito</a> -->

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
    <span class="fa fa-address-card"></span>
    <i class="fa fa-sliders" style="font-size:20px;color:red;"></i>
  </button> -->
  <i class="fa fa-sliders" (click)="goSettings()" style="font-size:20px;color:#d60057;"></i>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Buscar</button>
    </form> -->
    <!-- <i class="fa fa-sliders" style="font-size:20px;color:red;"></i> -->

  </div>
</nav>

